-var list_about_us = ['Investors', 'Jobs', 'Privacy policy', 'Terms and Conditions', 'Platzi Travel, inc', 'Follow Us'];

mixin mini-card(image, title, description)
	section.mini-card
		figure.mini-card__img(class=image)
		article.mini-card__description
			h3.font-bold= title
			p.text-xs= description

mixin card(image__height, title, description, col_span__row_span, width)
	section.card(class=col_span__row_span)
		.card__content
			article.card__description(class=width)
				h3= title
				p= description
			figure.card__img(class=image__height)

mixin FAQ(title)
	h3.faqs__subtitle= title
	p.faqs__description We accept VISA, MasterCard, American Express, Paypal and Binance. We accept VISA, MasterCard, American Express, Paypal and Binance.